body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calc-grid{
  display: grid;
  grid-template-columns:auto auto auto auto ;
  grid-template-rows: auto auto auto auto ;
  grid-gap: 10px;
  width: 250px;
  height: 200px;

}

.matrix-output{

  horiz-align: center;

  padding-top: 90px;

  display: flex;
  justify-content: center;
  align-items: center;


}
.marks{

}


.calc-equal-button{
  grid-column: 1 / span 4;
}

.calc-display-style{
  min-width: 50px;
  
}